
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
  background: linear-gradient(#333, #111);
  max-width:100%;

  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.App1{
  display:grid;
  grid-template-rows: 55px 5fr 100px;
}

/* .navbar{
  margin-top:1rem;
  width: 3rem;
  height: 5rem;
} */



/* .img-back{
  margin-top:20vh;
  background: url(./jkb-removebg.png) no-repeat 30%;
  width:100%;
  background-color:grey;
  height:100vh;
  position:absolute;
  margin:0;
}
select{
  border:.5px;
} */

/* .badge {button{
  padding:0;
}
  position: relative;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  background: url(https://source.unsplash.com/random/1000x1000) no-repeat 100% 50%;
  background-size: 120%;
  border-radius: 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.badge:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0% 50%;
}
.badge:hover .text {
  -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
          transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgba(102, 51, 153, 0.5);
  width: 10rem;
  letter-spacing: 0.4rem;
  line-height: 20rem;
  height: 10rem;
  margin-top: -7rem;
  margin-left: -3rem;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}
.badge .text {
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  line-height: 3rem;
  left: 30%;
  top: 70%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 0.8rem;

  
  
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #fff;
  padding-left:0.2rem ;
  border-radius: 50%;
  background: rebeccapurple;
  -webkit-transform: rotate(-180deg) translate(-10rem) rotate(180deg);
          transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}




* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.logo{
  font-size:2rem;
  margin-bottom:1rem;
}

.nav{
  height:0;
  z-index: 1;
  
}
header{

  display:flex;
  position: relative;
  justify-content: space-evenly;
  width: 100vw;
  background-color:transparent;
  color: rgb(226, 221, 221);

  font-size:1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
a:link {
  text-decoration: none;
  color:rgb(211, 211, 211);
  
}
a{
  color:rgb(211, 211, 211);
}

a:visited {
  text-decoration: none;
  color:rgb(211, 211, 211);

}

a:hover {
  text-decoration: underline;
  color:rgb(167, 140, 74);
}

a:active {
  text-decoration: underline;
  color:black;
}
li{
  list-style: none;;
}
/* .dropdown {
  float: left;
  overflow: hidden;
} */

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(226, 220, 238);
  background:none;
  font: inherit;
  margin: 0;
}

.logo{
  margin-top:1rem;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
 

  background-color: #ccc;
  height: 250px;

}

.row{
  width: 100vw;
  display: flex;
  justify-content:flex-start;


}
* {
  box-sizing: border-box;
}
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

ul{
  display: flex;
  justify-content: space-evenly;
}

li{
margin-left:8vh;
}

.btn-shop{
  position: relative;
 
 top:50vh;
  left:70%;
  font-size: 1.2rem;
  border:2px solid rgb(146, 138, 138);
  color:rgb(145, 134, 134);
  background-color: transparent;
}


/*Side cart*/
 .cart1{
  display: flex;
  flex-direction:column;
  max-width:20vw;
  margin-left:3rem;
} 

.cart-content{
  display: flex;
  flex-direction:column; 
}

.sub1{
  margin-top:2rem;
}

 */


a{
  color:black;
}

.button77{
background:rgb(201, 60, 60);
border:none;


}



.btn-subcart{
width:4rem;
border-radius:50%;
background-color:rgb(55, 89, 202);
  
}
