
@media screen and (max-width:4160px){
  .three{
   margin-top: 3rem;
}

*{
  max-width:98.5vw;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* max-resolution: top 3rem; */
    height: auto;
    width:100%;
    /* margin:1rem; */
        
  }
  .landing-container{
  z-index:-1;  
  }
  .child1{
    /* flex: 0 1 300px; */
    flex: 1 1 300px;
    
  /* border: 1px solid red; */
    width: 50vw;
    background: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    height: 20rem;
   
    /* margin:1rem; */
  }

  
  body {
    font-family: system-ui, serif;
  }

  .one-img{
      background-image:url("https://cnet4.cbsistatic.com/img/Po9KpNbIXFAjhmHWqYfzFqtCNwE=/940x0/2020/01/24/81e5364d-1e9b-4c7d-b6fc-2283f2f6e35f/t-mobile-goto-accessories.png");
      object-fit: cover;
      background-color:rgba(18, 165, 131, 0.74);
      background-repeat: no-repeat;
      background-position: center;
 
      
 
  }
  .two-img{
    background-image:url("https://www.rcsdk12.org/cms/lib/NY01001156/Centricity/Domain/4951/graphics-design-training-ontario.png")  ;
    object-fit: cover;
    background-color:rgb(194, 189, 189);
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: silver; */
      
  }
.head{
    
    color: rgb(105, 99, 93);
    font-size:2.2rem;
    margin-top:2rem;
}
.desc{
    margin-top:1rem;
     font-size: 1.4rem;
     color:rgb(73, 73, 73);
     margin:1rem;
}
  
.contact-desc{
    
    background-color:rgb(213, 172, 247);

}
.contact-btn{
    background:none;
    height:3rem;
    width:11.5rem;
    margin-top:2rem;
    border:1.5px solid rgb(56, 187, 121);
}
.head{

}


  .child1{
    height:40vh;
  }
  
.contact-desc2{
    
    background-color:rgb(196, 172, 96);

}
  
.contact-btn2{
    background:none;
    height:3rem;
    width:11.5rem;
    margin-top:2rem;
    border:1.5px solid rgb(116, 114, 39);
}
}
@media screen and (max-width:769px){
  .three{
    margin:1rem;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* max-resolution: top 3rem; */
    height:auto;
    margin:1rem;
  }
  .landing-container{
  z-index:-1;  
  }
  .child1{
    flex: 0 1 300px;
    flex: 1 1 300px;
    
  /* border: 1px solid red; */

    background: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    height: 20rem;
   
    margin:1rem;
  }

  
  body {
    font-family: system-ui, serif;
  }

  .one-img{
      background-image:url("./images/Computer-Desk.jpg");
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
 
      
 
  }
  .two-img{
    background-image:url("https://www.rcsdk12.org/cms/lib/NY01001156/Centricity/Domain/4951/graphics-design-training-ontario.png")  ;
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-color: silver; */
      
  }
.head{
    
    color: rgb(105, 99, 93);
    font-size:2.2rem;
    margin-top:2rem;
}
.desc{
    margin-top:1rem;
     font-size: 1rem;
     color:rgb(73, 73, 73);
     margin:1rem;
}
  
.contact-desc{
    
    background-color:rgb(113, 243, 178);

}
.contact-btn{
    background:none;
    height:2rem;
    width:5rem;
    margin-top:2rem;
    border:1.5px solid rgb(56, 187, 121);
}
.head{

}


  
  
.contact-desc2{
    
    background-color:rgb(196, 172, 96);

}
  
.contact-btn2{
    background:none;
    height:2rem;
    width:5rem;
    margin-top:2rem;
    border:1.5px solid rgb(116, 114, 39);
}
}
@media screen and (max-width:480px){
  .three{
    margin:1rem;
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* max-resolution: top 3rem; */
    height: auto;
    margin:1rem;
  }
  .landing-container{
  z-index:-1;  
  }
  .child1{
    flex: 0 1 300px;
    flex: 1 1 300px;
    
    
  /* border: 1px solid red; */

    background: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    
   
    margin:1rem;
  }

  
  body {
    font-family: system-ui, serif;
  }

  .one-img{
      background-image:url("https://www.tcweddings.com.au/wp-content/uploads/2018/09/Pinterest-wedding-planning-tips-Tweed-Coast-Weddings1.jpg");
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
     
     
      
 
  }
  .two-img{
    background-image:url("https://www.rcsdk12.org/cms/lib/NY01001156/Centricity/Domain/4951/graphics-design-training-ontario.png")  ;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color: silver;
    
      
  }
.head{
    
    color: rgb(105, 99, 93);
    font-size:2.2rem;
    margin-top:2rem;
}
.desc{
    margin-top:1rem;
     font-size: 0.6rem;
     color:rgb(73, 73, 73);
     margin:1rem;
}
  
.contact-desc{
    
    background-color:rgb(113, 243, 178);

}
.contact-btn{
    background:none;
    height:2rem;
    width:8rem;
    margin-top:1rem;
    border:1.5px solid rgb(56, 187, 121);
}
.head{
font-size:1rem;
}
.desc{
  font-size: 10px;
  text-align: justify;
  text-justify: newspaper;
  padding:4px;
}

  
  
.contact-desc2{
    
    background-color:rgb(196, 172, 96);

}
  
.contact-btn2{
    background:none;
    height:3rem;
    width:9rem;
    margin-top:-2rem;
    border:1.5px solid rgb(116, 114, 39);
}

.contact-btn{
  background:none;
  height:3rem;
  width:9rem;
  margin-top:-2rem;
  border:1.5px solid rgb(116, 114, 39);
}
   
  
}
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

