.visit-container{
 
    box-sizing: border-box;
    width:100%;
    height:98vh;
    overflow:hidden;
  
  }
  
  .vouter{
    display:flex;
    justify-content:space-around;
    margin:2vh;
    margin-top:1vh;
    background-color:white;
    height:75vh;
    width:90vw;
    align-items:center;
    margin-left:4vw;
   
  }
 
  .visit-card{
   
    width:25vw;
    margin:1rem;
    height:90%;
     overflow:hidden;
    
  }
  
  .v2{
    margin-top:20vw;
    height:90%;
    
  }
  
  .v1{
    margin-top:1vh;
    height:90%;
    
  }
  
  .img-visit{
   height:auto;
    width:100%;
    
  }
  .v3{
    margin-left:5vw;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
  }
  
  .btn-visit{
    background:black;
    height:2.2rem;
    color:#F5F5F5;
    font-size:1rem;
  }
  @media screen and (max-width:480px){
    .visit-container{
 
      box-sizing: border-box;
      width:100%;
      height:98vh;
      overflow:hidden;
    
    }
    
    .vouter{
      display:flex;
      justify-content:space-around;
      flex-direction: column;
      margin:2vh;
      margin-top:1vh;
      background-color:white;
      height:95vh;
      width:90vw;
      align-items:center;
      margin-left:4vw;
     
    }
    
    .visit-card{
     
      width:25vw;
      margin:1rem;
      height:50%;
       overflow:hidden;
      
    }
    
    .v2{
      margin-top:20vw;
      height:90%;
     display:none; 
    }
    
    .v1{
      margin-top:1vh;
      height:40%;
      width:20rem;
    }
    
    .img-visit{
     height:auto;
      width:100%;
      
    }
    .v3{
    
      display:flex;
      height: 60%;
      width:20rem;
      margin-top: 1rem;
      z-index:1000;
      flex-direction:column;
      align-items:flex-start;
      justify-content:center;
    }
    .address{
      z-index: 11;
      width: 20rem;
      margin-top: -10rem;
    
    }
    .mdc-button, .mdc-button--outlined{
      width:30px;
    }
    
    
    .btn-visit{
      background:black;
      
      height:2.2rem;
      color:#F5F5F5;
      font-size:0.9rem;
    }

    .leading-icon, .mdc-button__ripple,.mdc-button__label,.trailing-icon{
      width:50px;
    }

  }